# Variables de entorno
.env
.env.local
.env.*

# Netlify
.netlify/

# Node
node_modules/
package-lock.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Logs
*.log
npm-debug.log*

#deno.lock
deno.lock