/* HEADER */

.header-picture{
  max-width: 70%;
  margin-top: 10px;
  filter: brightness(0) saturate(100%) invert(97%) sepia(65%) saturate(398%) hue-rotate(302deg) brightness(102%) contrast(103%);
  }

header{
  position: relative;
  max-width: 100%;
}

.header-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-header {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 1px;
  text-align: center;
  background-color: red;
}


/* BODY */

body {
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7e7;
}

.cont-circle {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-start; /* Align semicircles in a single row */
  overflow: hidden; /* Ensure no extra semicircles spill over */
  width: 100%;
}

.semicircle {
  background: red;
  border-radius: 0 0 50% 50%;
  height: 50px; /* Default height, updated dynamically */
}

.container {
  max-width: 100%;
  margin: none;
  padding: none;
  padding-top: 20px;
  text-align: center;
}
.container-text{
  margin-bottom: 70px;
}

img{
  max-width: 40%;
}




h1{
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color:  #fff7e7;
}

h2{
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color:  red;
}

h3 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color:  #fff7e7;
}
p{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color:  black;
}

a {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color:  red;
  text-decoration: underline;
  text-decoration-color: red;
}
a.header {
  font-size: 13px;
  line-height: 21px;
  font-weight: 600;
  color:  #fff7e7;
  text-align: center;
  text-decoration: none;
}

a.one {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: red;
  text-decoration: none;
}

a.one:hover{
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
}



/* FOOTER */



  .footer {
   position: relative;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
.footer-text{
  text-align: center;
  color: white;
}

  .footer-picture{
    width: 300px;
    
  }



@media (max-width: 768px) {
    .column {
        flex-basis: 100%;
    }
    .header-picture{
      max-width: 90%;
}
img{
  max-width: 75%;
};
.semicircle {
  height: 30px; /* Adjust for smaller screens */
}
}
@media (max-width: 430px) {
  .container-header{
    padding: 10px;
  }

    .container {
        
        margin: auto;
        padding: auto;
        padding-top: 10px;
  
    }
    .container-text{
      padding: 10px;
    }
  
    body {
        font-family: helvetica, sans-serif;
        margin: 0;
        padding: 0;

    }
    
    img {
      max-width: 95%;
    }
    h1{
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
     
    }
    
    h2{
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
    }
    
    h3 {
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
      
    }

    p {
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
      color:  black;
    }
    
    a {
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
      color:  red;
      text-decoration: underline;
      text-decoration-color: red;
    }
    a.header {
      font-size: 13px;
      line-height: 21px;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
    }
    
    a.one {
      font-family: helvetica, sans-serif;
      font-size: 13px;
      line-height: 20px;
      font-weight: 600;
      text-decoration: none;
    }
    
    a.one:hover{
      text-decoration: underline;
    }


}

