<header>

        <div class="container-header">
          <a href="/"><img class="header-picture" src="../imagen/logo_dimanche.svg" alt="LOGO"></a>
          <h1>DIMANCHE OBJECTS AKA LA TIENDITA DE LOS OBJETOS CON ESTILO</h1>
          <h2><a class="header" href="/about">Quiero saber más →</a>
            <br><a class="header" href="/tienda">← O igual quiero volver a la tienda</a>
          <br><a class="header" href="/indexblog">¿O leer más del blog?</h2>
      
        </div>
  
</header>
   