<div id="popup" class="popup" style="display:none;"> <!-- el js cambia a flex para mostrar el popup, none por defecto  -->
  <div class="popup-content">
    <span class="close-btn" onclick="closePopup()">&times;</span>
    <img src="/assets/compressed/gif-dimanche-short.gif" alt="">
    <p>¡NUEVO MERCH DISPONIBLE!</p>
    <p>Te presentamos el 3er merch de Dimanche.</p>
    <p>Preventa disponible hasta el 7/06. Enviaremos todos los pedidos una vez que hagamos todas las prendas al terminar la preventa.</p>
    <p>Envío gratis en la Península.</p>
  </div>
</div>